/* Default Style */

/* Main Styles */

#wrapper {
	margin: 0 auto;
	width: 1200px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

body {
	background: #ffffff url(default/bg.png) repeat;
}

/* Head */

#banner {
	border: 3px solid #111;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-style: none;
	overflow: hidden;
	box-shadow: 5px 5px 8px #000;
}

#navigation {
	width: 100%;
	height: 70px;
	margin-top: 20px;
}

#navigation li {
	float: left;
	list-style-type: none;
	margin-right: 15px;
	height: 64px;
	border-radius: 8px;
	box-shadow: 5px 5px 6px #111;
	text-decoration: none;
	transition: margin 0.5s, box-shadow 0.5s, margin 0.5s;
		-webkit-transition: margin 0.5s, box-shadow 0.5s, margin 0.5s;
		-moz-transition: margin 0.5s, box-shadow 0.5s, margin 0.5s;
		-o-transition: margin 0.5s, box-shadow 0.5s, margin 0.5s;
}

#navigation li:hover{
	margin-top: 3px;
	margin-right: 12px;
	margin-left: 3px;
	box-shadow: 2px 2px 3px #000;
}

.nav_1{
	float: left;
	width: 40px;
	height: 64px;
	overflow: hidden;
	background-image: url(default/nav_nor_1.png);
	background-repeat: no-repeat;
}

.nav_2{
	padding-top: 7px;
	float: left;
	height: 57px;
	color: #fff;s
	text-shadow: -5px 0px 0px #0909D9;
	font-size: 40px;
	overflow: hidden;
	background-image: url(default/nav_nor_2.png);
	background-repeat: repeat-x;
}

.nav_3 {
	float: left;
	width: 40px;
	height: 64px;
	overflow: hidden;
	background-image: url(default/nav_nor_3.png);
	background-repeat: no-repeat;
}